<div class="loop02">
    <ul class="loop02__box">
        <li class="loop02__item"><a href="#"><%= image_tag '0000326930_OG.JPG', :width => '300', :height => '400' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag '0000136344_OG.JPG', :width => '300', :height => '400' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag '0000136202_OG.JPG', :width => '600', :height => '400' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag '0000135451_OG.JPG' %></a></li>
    </ul>
    <ul class="loop02__box">
        <li class="loop02__item"><a href="#"><%= image_tag '0000326930_OG.JPG', :width => '300', :height => '400' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag '0000136344_OG.JPG', :width => '300', :height => '400' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag '0000136202_OG.JPG', :width => '600', :height => '400' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag '0000135451_OG.JPG', :width => '600', :height => '400' %></a></li>
    </ul>
</div>

<div class="item-box">
    <div class="item"><%= link_to "video一覧へ", videos_path %></div>
    <div class="item"><%= link_to "photo一覧へ", photos_path %></div>
    <div class="item"><%= link_to "event一覧へ", events_path %></div>
</div>