<%= form_for @event do |f| %>
    <div class="field">
    <%= f.label :項目名 %>
    <%= f.text_field :title, :size => 30 %>
  </div>

  <div class="field">
  <%= f.label :項目名  %>
  <%= f.text_area :review, :size => "30x2" %>
</div>

<%= f.submit "編集する" %>
<% end %>