<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @event do |f| %>
    <div class="field">
    <%= f.label :項目名 %>
    <%= f.text_field :title, :size => 30 %>
  </div>

  <div class="field">
  <%= f.label :項目名  %>
  <%= f.text_area :review, :size => "30x2" %>
</div>

<%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", events_path %>