<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_photo_path %>
<%= link_to "video一覧へ", videos_path %>
<%= link_to "event一覧へ", events_path %>
<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<div class="photos-container">
    <% @photos.each do |t| %>
        <div class="photo">
        <%= link_to t.user.name, user_path(t.user.id) %>
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.group %>
        <%= t.name %>
        <%= t.about %>
        <% if user_signed_in? %>
            <% if current_user.already_favorited?(t) %>
            <%= link_to photo_favorite_path(id: t.id, photo_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.favorites.count %>
            <% end %>
            <% else %>
            <%= link_to photo_favorites_path(id: t.id, photo_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.favorites.count %>
            <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.favorites.count %>
        <% end %>
        <%= link_to "詳細へ", photo_path(t.id) %>
        </div>
    <% end %>
</div>